@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-Thin.woff") format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-Thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-UltraLight.woff")
      format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-UltraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-Light.woff") format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-Light.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-Medium.woff") format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-Medium.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-DemiBold.woff")
      format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-DemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-ExtraBold.woff")
      format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-ExtraBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-Black.woff") format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-Black.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 950;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-ExtraBlack.woff")
      format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-ExtraBlack.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 1000;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-Heavy.woff") format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-Heavy.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-Bold.woff") format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src:
    url("../../public/fonts/iransans/IRANSansXFaNum-Regular.woff")
      format("woff"),
    url("../../public/fonts/iransans/IRANSansXFaNum-Regular.woff2")
      format("woff2");
}
