@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #1a1d1e;
  font-family: 'IRANSansX', sans;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: transparent;
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}
.phone-input {
  border: 1px solid black;
  color: black;
}
.footer-button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.next-button-login {
  --background: #ffb103;
}
.input-label-placement-floating.sc-ion-input-ios-h,
.input-label-placement-stacked.sc-ion-input-ios-h {
  min-height: 40px !important;
}

.steps {
  display: flex;
  align-items: center;
  width: 90%;
}
.step {
  width: 100%;
  height: 5px;
  background-color: #ccc;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.step:not(:last-child) {
  margin-left: 4px; /* Space between the steps */
}

.step.completed {
  background-color: #ffb103; /* Color for completed steps */
}

.my-swal {
  z-index: 9999 !important;
}
.custom-checkbox {
  position: relative;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.custom-checkbox:checked::after {
  appearance: none;
  content: url('../assets/images/tick.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px; /* Adjust the tick size */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
